<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="PowerShell Gallery" value="https://www.powershellgallery.com/api/v2" />
  </packageSources>
  
  <!-- Disable package source mapping for now to allow all packages from any source -->
  <!-- <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="PowerShell Gallery">
      <package pattern="PowerShell*" />
      <package pattern="Microsoft.PowerShell*" />
    </packageSource>
  </packageSourceMapping> -->
  
  <config>
    <add key="globalPackagesFolder" value="packages" />
    <add key="repositoryPath" value="packages" />
    <add key="dependencyVersion" value="HighestMinor" />
    <add key="packageManagement" value="PackageReference" />
  </config>
  
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
</configuration>